<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_content">
            <div class="footer_inner">
                <div class="footer_col">
                    <a href="index.html" class="footer_logo">
                        <img src="./images/logo.png" alt="Inventa Clinic Logo">
                    </a>
                    <div class="social_links-wrap">
                        <span class="social_title">Соціальні мережі</span>
                        <div class="social_links-body">
                            <a href="#" target="_blank" class="social_link">
                                <svg width="44" height="45" viewBox="0 0 44 45" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="22" cy="22.2471" r="22" />
                                    <path
                                        d="M23.6667 12.2471H27V16.2471H24.7778C24.1789 16.2531 23.6822 16.6841 23.6667 17.2471V20.2471H27L25.8889 24.2471H23.6667V32.2471H19.2222V24.2471H17V20.2471H19.2222V16.2471C19.2311 13.9991 21.1867 12.2531 23.6667 12.2471Z"
                                        fill="white" />
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="social_link">
                                <svg width="44" height="45" viewBox="0 0 44 45" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="22" cy="22.2471" r="22" />
                                    <path
                                        d="M16 15.2471C13.7909 15.2471 12 17.0381 12 19.2471V25.2471C12 27.4561 13.7909 29.2471 16 29.2471H28C30.2091 29.2471 32 27.4561 32 25.2471V19.2471C32 17.0381 30.2091 15.2471 28 15.2471H16ZM20.7143 19.2471C20.8386 19.2471 20.9473 19.2821 21.0491 19.3411C21.107 19.3741 24.6699 21.5731 24.7991 21.7081C24.9288 21.8441 25 22.0391 25 22.2471C25 22.3791 24.9674 22.4911 24.9107 22.5991C24.8645 22.6861 24.8065 22.7711 24.7321 22.8331C24.6105 22.9341 21.0266 25.1681 20.9375 25.2001C20.8647 25.2261 20.7955 25.2471 20.7143 25.2471C20.5358 25.2471 20.3707 25.1731 20.2455 25.0591C20.094 24.9221 20 24.7241 20 24.4971C20 24.2921 20 20.2011 20 19.9971C20 19.5831 20.3198 19.2471 20.7143 19.2471Z"
                                        fill="white" />
                                </svg>
                            </a>
                            <a href="#" target="_blank" class="social_link">
                                <svg width="44" height="45" viewBox="0 0 44 45" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="22" cy="22.2471" r="22" />
                                    <path
                                        d="M13.0602 19.8031C12.4098 20.0761 12.0061 20.5621 12 21.2501C11.9958 21.7311 12.3204 22.3771 12.9708 22.6411C13.2387 22.7501 17.0002 23.2561 17.0002 23.2561C17.0002 23.2561 17.9958 26.4031 18.3546 27.5091C18.4585 27.8291 18.5177 27.9861 18.7457 28.1951C19.1325 28.5491 19.7864 28.4381 20.0692 28.1541C20.8174 27.4041 22 26.2471 22 26.2471L22.4977 26.6521C22.4977 26.6521 24.7078 28.4151 25.9159 29.2451C26.6272 29.7341 27.1209 30.2441 27.9215 30.2471C28.3293 30.2491 28.9834 30.0461 29.4158 29.5511C29.7015 29.2241 29.8848 28.7011 29.9557 28.2321C30.1169 27.1671 32.008 15.6511 32 15.2481C31.9872 14.6051 31.4463 14.2431 30.9967 14.2471C30.7143 14.2501 30.4816 14.3321 29.9638 14.4901C25.9584 15.7131 13.3255 19.6921 13.0602 19.8031ZM28 17.2471C28 17.2471 22.722 21.8411 20.6129 23.9551C19.9372 24.6321 19.8895 25.7941 19.8895 25.7941L18.7993 22.3061L28 17.2471Z"
                                        fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact_links">
                    <div class="contact_item">
                        <div class="item_icon">
                            <img src="./svg/telephone.svg" alt="telephone">
                        </div>
                        <div class="item_inner">
                            <div class="item_links">
                                <a href="tel:+380985815828">+38 098 581 58 28</a>
                                <a href="tel:+380955815828">+38 095 581 58 28</a>
                            </div>
                        </div>
                    </div>
                    <div class="contact_item">
                        <div class="item_icon">
                            <img src="./svg/email.svg" alt="telephone">
                        </div>
                        <div class="item_inner">
                            <div class="item_links">
                                <a href="mailto:inventaclinic@gmail.com">inventaclinic@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="contact_item">
                        <div class="item_icon">
                            <img src="./svg/clock.svg" alt="telephone">
                        </div>
                        <div class="item_inner">
                            <div class="item_links">
                                <p>Пн-Пт 08:00-17:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact_item">
                        <div class="item_icon">
                            <img src="./svg/pin.svg" alt="telephone">
                        </div>
                        <div class="item_inner">
                            <div class="item_links">
                                <p>м. Кропивницький, вул. Любомира Гузара 48/149</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>