<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="header_logo">
                <img src="./images/logo.png" alt="Inventa Clinic Logo">
            </a>
            <nav class="header_nav">
                <ul class="header_nav-menu">
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Про нас
                            <img class="arrow" src="./svg/arrow_forward.svg"
                                alt="image not found">
                        </a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Послуги
                            <img class="arrow" src="./svg/arrow_forward.svg"
                                alt="image not found">
                        </a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">
                            Наші лікарі
                            <img class="arrow" src="./svg/arrow_forward.svg"
                                alt="image not found">
                        </a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Декларація
                            <img class="arrow" src="./svg/arrow_forward.svg"
                                alt="image not found">
                        </a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Контакти
                            <img class="arrow" src="./svg/arrow_forward.svg"
                                alt="image not found">
                        </a>
                    </li>
                    <li class="header_menu-item">
                        <a href="#" class="header_menu-link">Блог
                            <img class="arrow" src="./svg/arrow_forward.svg"
                                alt="image not found">
                        </a>
                    </li>
                </ul>
                <div class="header_phone-wrap">
                    <img class="phone_icon" src="./svg/phone.svg" alt="phone icon">
                    <div class="phone_links">
                        <div class="phone_link">
                            <img class="phone_icon_mob" src="./svg/phone.svg" alt="phone icon">
                            <a href="tel:+380985815828">+38 098 581 58 28</a>
                        </div>
                        <div class="phone_link">
                            <img class="phone_icon_mob" src="./svg/phone.svg" alt="phone icon">
                            <a href="tel:+380955815828">+38 095 581 58 28</a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="header_burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>